$spotify-brand-color: #81b71a;

.pure-g [class *="pure-u"] {
  font-family: 'Roboto Condensed', sans-serif !important;
}

#content {
  margin: 0 1em 1em 1em;
}

.Search {
  font-family: 'Roboto Condensed', sans-serif !important;

  .SearchForm {

  }

  .SearchResults {
    margin-top: 1em;
  }

  .SearchResult {
    margin-bottom: 2em;

    .Track {
      .name {
        font-size: larger;
        font-weight: bold;
      }
    }

    .Album {
      .image {
        margin: 0.5em 0 0.5em 0;
      }
    }

    .Artist {
      .name {
        font-style: italic;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: $spotify-brand-color;
    }
  }
}