$spotify-brand-color: #81b71a;

.Search {
  font-size: 0.9em;

  .SearchForm {
    .searchString {
      display: block;
      padding: 5px;
    }
  }

  .SearchResult {
    margin: 10px;
    clear: both;

    .Track {
      .name {
        font-weight: bold;
      }
    }

    .Album {
      .image {
        float: left;
        padding: 0 10px 10px 0;
      }
    }

    .Artist {
      .name {
        font-style: italic;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: $spotify-brand-color;
    }
  }
}